<div>
<%= form_with url: spots_path, method: :get do |f| %>
  <%= f.text_field :query, placeholder: "Where?", style:"width: 100px;"%>
  <%= f.number_field :distance, placeholder: "Distance? (km)", style:"width: 50px;" %>
  <%= f.submit "Search", class: "btn btn-primary" %>
    <%= link_to spots_path do %>
    <button >Clear</button>
  <% end %>
<% end %>
</div>
