  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">

  <%= link_to profile_path do %>
    <% if @user && @user.photo.attached? %>
      <div class="avatar-profile-search">
        <%= cl_image_tag @user.photo.key,  width: 40, height: 40%>
      </div>
    <% else %>
      <div class="avatar-profile-search">
        <%= image_tag "https://res.cloudinary.com/dxx5x9kzp/image/upload/v1670426913/avatar_ts0tsa.png",  width: 40, height: 40%>
      </div>
    <% end %>
  <% end %>

<div style="position: relative;">

  <div style="width: 100vw; height: 100vh;"
    data-controller="map"
    id="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <%= link_to root_path do %>
    <div class="round-button">
      <div class="circle-back">
      </div>
      <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 16L1 8.5L9 1" stroke="#4F3A57" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  <% end %>
</div>
