<% if @spot.photo.attached? %>
  <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill %>
<% end %>

<%= link_to spots_path do %>
  <div class="round-button">
    <div class="circle-back">
    </div>
    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 16L1 8.5L9 1" stroke="#4F3A57" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
<% end %>

<h1><%= @spot.address %></h1>
<h2><%= @spot.spot_difficulty %></h2>

<p>Moyenne: <%= @average_rating %></p>

<div class="reviews">
  <% @reviews.each do |review| %>
    <p>
      <% Review::AUTHORIZED_RATINGS.each do |number| %>
        <i class="fa-<%= (number > review.rating) ? 'regular' : 'solid' %> fa-star"></i>
      <% end %>
      <%= review.content %>
    </p>
  <% end %>
</div>



<% if @bookmark.first %>
  <%= link_to 'bookmark d', spot_bookmark_path(@spot.id), data: {turbo_method: :delete} %>
<% else @bookmark == nil %>
  <%= link_to 'bookmark c', spot_bookmarks_path(@spot.id), data: {turbo_method: :post} %>
<% end %>

<br><br>
<%= link_to 'index', spots_path %>
<%= link_to 'itinéraire (pas fait)', spots_path %>

<ul>
  <% @spot.moves.each do |move| %>
    <li><%= move.name %></li>
  <% end %>
</ul>

Quand on clic sur le btn Bookmark
-> Cela crée une instance de Bookmark
--> Mon spot_id doit etre relié au user_id qui LUI est associé au current_user
---> Mon spot_id de bookmark doit être relié au spot_it de la show du spot dans lequel je suis

<div class="review">
  <h2>laisse une évalutation</h2>
  <%= simple_form_for [@spot, @review] do |f| %>
    <%= f.input :rating, as: :hidden %>
    <div class="my-3">
      <% Review::AUTHORIZED_RATINGS.each do |index| %>
        <i id="<%= index %>" class="review-rating fa-regular fa-star"></i>
      <% end %>
    </div>
    <%= f.submit class: "btn btn-primary", value: "Valider" %>
  <% end %>
</div>
