<h2>Ajoute les moves à ton spot!</h2>


<%= simple_form_for [@spot, @spot_move] do |f| %>
  <%= f.association :move, as: :select, label: "Nom du mouvement", label_html: { class: 'form-inputs'} %>
  <%= f.input :longitude, id:"longitude2" %>
  <%= f.input :latitude, id:"latitude2" %>
  <%= f.submit "Fini!", class: "btn btn-primary" %>
  <% end %>

<div id="map1" data-markers=<%= @markers.to_json %> data data-longitude=<%= @spot.longitude %> data-latitude=<%= @spot.latitude %> style="width:500px; height:500px"></div>


<script>
var map1 = document.querySelector("#map1")
mapboxgl.accessToken = 'pk.eyJ1IjoiY2hvc3VrZSIsImEiOiJjbGFiMnhtbnowZTE3M3BsZjJjMnFsaWcxIn0.v30HKeYX-ohBi1jLJYJYew';
var map = new mapboxgl.Map({
  container: 'map1',
style: 'mapbox://styles/mapbox/satellite-streets-v12',
center: [map1.dataset.longitude, map1.dataset.latitude],
zoom: 19
});

// Select all checkboxes with the name 'settings' using querySelectorAll.
var moveInput = document.querySelector("#spot_move_move_id");
var longitude2 = document.querySelector("#spot_move_longitude")
var latitude2 = document.querySelector("#spot_move_latitude")

var enabledSettings = []
  var addMarker= () => {
    longitude2.value = map1.dataset.longitude
      latitude2.value = map1.dataset.latitude
      let marker = new mapboxgl.Marker({
        draggable: true
      })
      .setLngLat([map1.dataset.longitude, map1.dataset.latitude])
      .addTo(map);

      function onDragEnd() {
        longitude2.value = marker.getLngLat().lng
      latitude2.value = marker.getLngLat().lat

      console.log(marker.getLngLat().lng);
      }

      marker.on('dragend', onDragEnd);
  }

  var markers = JSON.parse(map1.dataset.markers)
  console.log(markers);
    markers.forEach(marker => {
      new mapboxgl.Marker({
        })
        .setLngLat([marker.lng, marker.lat])
        .addTo(map);
    });
// Use Array.forEach to add an event listener to each checkbox.

  moveInput.addEventListener('change', function() {
      addMarker()
  })
</script>
