  <%= link_to spots_path do %>
    <div class="round-button">
      <div class="circle-back">
      </div style="position: absolute; top:15px;left:40px;">
      <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 16L1 8.5L9 1" stroke="#4F3A57" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  <% end %>

  <div style="position: absolute; top:15px;left:50px;">
      <% if @user.photo.attached? %>
        <%= link_to @user.photo, profile_path %>
      <% else %>
      <%= link_to "🙋", profile_path, class:"text-decoration-none" %>
    <% end %>
  </div>

      <%= video_tag @move.video, muted: :muted, class: "video-move" %>

  <button id="play">play</button>
  <button id="pause">pause</button>
<div id="habillage3">
  <section class="flex-profile">
    <h1 style="margin: 1rem auto; font-size: calc(1.9rem + 1.5vw); font-weight: 700;"><%= @move.name %></h1>
    <div class="choices">
      <h2 style="margin-top: 2vh; color: #452E4F;">📍Pré-requis: </h2>
        <p style="color: #452E4F;"><%= @move.pre_requis %></p>
      <h2 style="margin-top: 2vh; color: #452E4F;">ℹ️ Description: </h2>
        <p style="color: #452E4F;"><%= @move.description %></p>
      <h2 style="margin-top: 2vh; color: #452E4F;">⚠️ Attention: </h2>
        <p style="color: #452E4F;"><%= @move.attention %></p>
    </div>
  </section>
</div>

  <script>
    var habillage = document.getElementById("habillage3");
    var button = document.querySelector('.video-move');
    var button2 = document.querySelector('#play');
    var button3 = document.querySelector('#pause');

    button2.addEventListener("click", function (event) {
      button.play()
      habillage.classList.add("d-none")
      button2.classList.add("d-none")
      button3.classList.remove("d-none")
    })
    button3.addEventListener("click", function (event) {
      button.pause()
      habillage.classList.remove("d-none")
      button3.classList.add("d-none")
      button2.classList.remove("d-none")
    })

</script>
