<h1><%= @move.name %> (<%= @move.level %>) </h1>
<p><%= @move.description %></p>
<video controls>
<source src=<%= @move.video %>></video>
</video>
<%= link_to 'Index', spots_path %>
<%= link_to 'Profil', profile_path %>
<%= link_to 'Back to the spot', spot_path %>
