<h1><%= @move.name %> (<%= @move.level %>) </h1>
<p><%= @move.description %></p>
<video controls>
<source src=<%= @move.video %>></video>
</video>
<%= link_to 'Spots', spots_path %>
<%= link_to 'Profil', profile_path %>
