  <%= link_to :back do %>
    <div class="round-button">
      <div class="circle-back">
      </div style="position: absolute; top:15px;left:40px;">
      <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 16L1 8.5L9 1" stroke="#4F3A57" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  <% end %>

  <div style="position: absolute; top:15px;left:50px;">
      <% if @user.photo.attached? %>
        <%= link_to @user.photo, profile_path %>
      <% else %>
      <%= link_to "🙋", profile_path, class:"text-decoration-none" %>
    <% end %>
  </div>

    <%= video_tag @move.video, controls: true, class: "video-move" %>

<div id="habillage3">
  <section class="flex-profile">
    <h1 style="margin: 1rem auto; font-size: calc(1.9rem + 1.5vw); font-weight: 700;"><%= @move.name %></h1>
    <div class="choices">
      <h2 style="margin-top: 2vh; color: #452E4F;">📍Pré-requis: </h2>
        <p style="color: #452E4F;"><%= @move.pre_requis %></p>
      <h2 style="margin-top: 2vh; color: #452E4F;">ℹ️ Description: </h2>
        <p style="color: #452E4F;"><%= @move.description %></p>
      <h2 style="margin-top: 2vh; color: #452E4F;">⚠️ Attention: </h2>
        <p style="color: #452E4F;"><%= @move.attention %></p>
    </div>
  </section>
</div>
