<style>
  body {
    background-image: url('https://res.cloudinary.com/ddz8gswxn/image/upload/v1670238200/fond_profile_gh9sjh.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .dropdown-toggle::after{
    display: none;
  }
</style>

<%= link_to spots_path do %>
  <div class="round-button">
    <div class="circle-back">
    </div>
    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 16L1 8.5L9 1" stroke="#4F3A57" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
<% end %>

<div id="habillage3">
    <% if @user.photo.attached? %>
      <div class="avatar-profile dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><%= cl_image_tag @user.photo.key %></div>
    <% else %>
      <div class="avatar-profile dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><%= image_tag "https://res.cloudinary.com/dxx5x9kzp/image/upload/v1670426913/avatar_ts0tsa.png" %></div>
    <% end %>

    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
    </div>

  <section class="flex-profile">

    <h1 style="margin: 1rem auto; font-size: calc(1.9rem + 1.5vw); font-weight: 700;"><%= @user.username %></h1>
      <div class="choices">

        <%= link_to edit_user_registration_path(@user), method: 'get' do %>
          <div class="square-button">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.35416 13.4445H6.08365C5.78413 13.4445 5.49688 13.3255 5.28508 13.1138C5.07329 12.902 4.95431 12.6147 4.95431 12.3152V11.5825C4.95067 11.5393 4.93483 11.498 4.90865 11.4635C4.88247 11.429 4.84701 11.4027 4.80642 11.3875C4.76529 11.3612 4.71746 11.3472 4.66861 11.3472C4.61976 11.3472 4.57194 11.3612 4.53081 11.3875L4.03336 11.9253C3.92901 12.0304 3.80491 12.1138 3.66819 12.1707C3.53148 12.2276 3.38486 12.2569 3.23677 12.2569C3.08868 12.2569 2.94206 12.2276 2.80535 12.1707C2.66863 12.1138 2.54453 12.0304 2.44018 11.9253L1.51923 11.0245C1.41263 10.9204 1.32797 10.7959 1.27024 10.6585C1.21251 10.5212 1.18289 10.3736 1.18312 10.2246C1.18355 9.91973 1.30435 9.62739 1.51923 9.41117L2.01668 8.91372C2.0407 8.87669 2.05347 8.8335 2.05347 8.78936C2.05347 8.74522 2.0407 8.70203 2.01668 8.665C1.97635 8.56417 1.90912 8.49022 1.81501 8.49022H1.12934C0.829204 8.48844 0.541966 8.36797 0.330365 8.15511C0.118764 7.94225 -5.25426e-06 7.6543 1.74396e-10 7.35416V6.08365C1.74395e-10 5.78413 0.118984 5.49688 0.330776 5.28508C0.542569 5.07329 0.829821 4.95431 1.12934 4.95431H1.86207C1.90524 4.95067 1.94648 4.93483 1.981 4.90865C2.01551 4.88247 2.04188 4.84701 2.05701 4.80642C2.08337 4.76529 2.09737 4.71746 2.09737 4.66861C2.09737 4.61976 2.08337 4.57194 2.05701 4.53081L1.51923 4.03336C1.41415 3.92901 1.33076 3.80491 1.27385 3.66819C1.21694 3.53148 1.18764 3.38486 1.18764 3.23677C1.18764 3.08868 1.21694 2.94206 1.27385 2.80535C1.33076 2.66863 1.41415 2.54453 1.51923 2.44018L2.42002 1.51923C2.52313 1.41313 2.64644 1.32874 2.78266 1.27102C2.91889 1.21329 3.06529 1.18341 3.21324 1.18312C3.36533 1.18245 3.51606 1.2118 3.65679 1.26947C3.79751 1.32715 3.92548 1.41202 4.03336 1.51923L4.53081 2.01668C4.56784 2.0407 4.61103 2.05347 4.65517 2.05347C4.69931 2.05347 4.7425 2.0407 4.77953 2.01668C4.88036 1.97635 4.95431 1.90912 4.95431 1.81501V1.12934C4.95608 0.829204 5.07656 0.541966 5.28942 0.330365C5.50228 0.118764 5.79023 -5.25426e-06 6.09037 1.74623e-10H7.39449C7.69401 1.74623e-10 7.98126 0.118984 8.19306 0.330776C8.40485 0.542569 8.52383 0.829821 8.52383 1.12934V1.86207C8.52747 1.90524 8.54331 1.94648 8.56949 1.981C8.59567 2.01551 8.63113 2.04188 8.67172 2.05701C8.71285 2.08337 8.76068 2.09737 8.80953 2.09737C8.85838 2.09737 8.9062 2.08337 8.94733 2.05701L9.41117 1.51923C9.51552 1.41415 9.63962 1.33076 9.77633 1.27385C9.91305 1.21694 10.0597 1.18764 10.2078 1.18764C10.3558 1.18764 10.5025 1.21694 10.6392 1.27385C10.7759 1.33076 10.9 1.41415 11.0043 1.51923L11.9253 2.42002C12.0316 2.52438 12.1161 2.64886 12.1738 2.7862C12.2315 2.92354 12.2613 3.07099 12.2614 3.21996C12.2647 3.37141 12.2365 3.52189 12.1786 3.66189C12.1208 3.80189 12.0345 3.92838 11.9253 4.03336L11.4278 4.53081C11.4038 4.56784 11.3911 4.61103 11.3911 4.65517C11.3911 4.69931 11.4038 4.7425 11.4278 4.77953C11.4682 4.88036 11.5354 4.95431 11.6295 4.95431H12.3622C12.6541 4.96814 12.9295 5.09391 13.131 5.30548C13.3326 5.51706 13.4449 5.79816 13.4445 6.09037V7.39449C13.4445 7.69401 13.3255 7.98126 13.1138 8.19306C12.902 8.40485 12.6147 8.52383 12.3152 8.52383H11.5825C11.5393 8.52747 11.498 8.54331 11.4635 8.56949C11.429 8.59567 11.4027 8.63113 11.3875 8.67172C11.3635 8.70875 11.3507 8.75195 11.3507 8.79608C11.3507 8.84022 11.3635 8.88341 11.3875 8.92045L11.9051 9.43806C12.0102 9.54241 12.0936 9.66651 12.1505 9.80322C12.2074 9.93994 12.2367 10.0866 12.2367 10.2346C12.2367 10.3827 12.2074 10.5294 12.1505 10.6661C12.0936 10.8028 12.0102 10.9269 11.9051 11.0312L11.0245 11.9253C10.9214 12.0314 10.7981 12.1158 10.6619 12.1735C10.5256 12.2312 10.3792 12.2611 10.2313 12.2614C9.93111 12.2575 9.64424 12.1369 9.43134 11.9253L8.91372 11.4278C8.87669 11.4038 8.8335 11.3911 8.78936 11.3911C8.74522 11.3911 8.70203 11.4038 8.665 11.4278C8.56417 11.4682 8.49022 11.5354 8.49022 11.6295V12.3622C8.47639 12.6541 8.35062 12.9295 8.13904 13.131C7.92747 13.3326 7.64637 13.4449 7.35416 13.4445ZM6.29876 12.1001H7.14577V11.5825C7.14863 11.2725 7.24342 10.9703 7.41813 10.7142C7.59285 10.4581 7.83963 10.2596 8.12722 10.1439C8.41599 10.0177 8.73581 9.98031 9.04589 10.0366C9.35598 10.0929 9.64228 10.2402 9.86828 10.4598L10.2313 10.8228L10.8228 10.2313L10.4598 9.86156C10.2416 9.63897 10.0944 9.35655 10.0369 9.05015C9.9795 8.74376 10.0144 8.4272 10.1372 8.14066C10.254 7.85433 10.4529 7.60897 10.7089 7.43551C10.9649 7.26205 11.2665 7.16825 11.5757 7.16593H12.1001V6.29876H11.5825C11.2725 6.2959 10.9703 6.20111 10.7142 6.02639C10.4581 5.85168 10.2596 5.6049 10.1439 5.31731C10.0177 5.02854 9.98031 4.70872 10.0366 4.39864C10.0929 4.08855 10.2402 3.80225 10.4598 3.57624L10.8228 3.21324L10.2313 2.62168L9.86156 2.98469C9.63551 3.19117 9.35516 3.32876 9.05354 3.38127C8.75191 3.43377 8.44156 3.399 8.15903 3.28104C7.87651 3.16309 7.63356 2.96686 7.45881 2.71547C7.28406 2.46408 7.18478 2.16799 7.17266 1.86207V1.34445H6.29876V1.86207C6.2959 2.17206 6.20111 2.47424 6.02639 2.73032C5.85168 2.98641 5.6049 3.18489 5.31731 3.30063C5.02854 3.42686 4.70872 3.46422 4.39864 3.40795C4.08855 3.35167 3.80225 3.20432 3.57624 2.98469L3.21324 2.62168L2.62168 3.21324L2.98469 3.58297C3.19117 3.80902 3.32876 4.08936 3.38127 4.39099C3.43377 4.69262 3.399 5.00297 3.28104 5.2855C3.16309 5.56802 2.96686 5.81097 2.71547 5.98572C2.46408 6.16047 2.16799 6.25975 1.86207 6.27187H1.34445V7.11888H1.86207C2.17206 7.12174 2.47424 7.21653 2.73032 7.39124C2.98641 7.56596 3.18489 7.81274 3.30063 8.10033C3.42686 8.3891 3.46422 8.70892 3.40795 9.019C3.35167 9.32909 3.20432 9.61539 2.98469 9.84139L2.62168 10.2044L3.21324 10.796L3.58297 10.433C3.80902 10.2265 4.08936 10.0889 4.39099 10.0364C4.69262 9.98387 5.00297 10.0186 5.2855 10.1366C5.56802 10.2546 5.81097 10.4508 5.98572 10.7022C6.16047 10.9536 6.25975 11.2497 6.27187 11.5556L6.29876 12.1001Z" fill="url(#paint0_radial_378_372)"/>
            <path d="M6.72218 9.07473C6.25684 9.07473 5.80195 8.93674 5.41504 8.67821C5.02812 8.41968 4.72656 8.05223 4.54848 7.62231C4.3704 7.19239 4.32381 6.71932 4.41459 6.26293C4.50538 5.80653 4.72946 5.3873 5.0585 5.05826C5.38755 4.72922 5.80677 4.50513 6.26317 4.41435C6.71957 4.32357 7.19264 4.37016 7.62255 4.54824C8.05247 4.72631 8.41993 5.02788 8.67845 5.41479C8.93698 5.80171 9.07497 6.2566 9.07497 6.72193C9.07497 7.34593 8.82709 7.94438 8.38585 8.38561C7.94462 8.82684 7.34618 9.07473 6.72218 9.07473ZM6.72218 5.71359C6.52275 5.71359 6.3278 5.77273 6.16198 5.88353C5.99615 5.99433 5.86691 6.15181 5.79059 6.33606C5.71428 6.52031 5.69431 6.72305 5.73321 6.91865C5.77212 7.11425 5.86816 7.29392 6.00917 7.43494C6.15019 7.57596 6.32986 7.67199 6.52546 7.7109C6.72106 7.74981 6.9238 7.72984 7.10805 7.65352C7.2923 7.5772 7.44978 7.44796 7.56058 7.28214C7.67138 7.11632 7.73052 6.92137 7.73052 6.72193C7.73052 6.45451 7.62428 6.19803 7.43518 6.00893C7.24608 5.81983 6.98961 5.71359 6.72218 5.71359Z" fill="url(#paint1_radial_378_372)"/>
              <defs>
                <radialGradient id="paint0_radial_378_372" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.1176 29.2699) rotate(-105.479) scale(38.5092 87.2701)">
                  <stop stop-color="#7077A0"/>
                  <stop offset="1" stop-color="#4F3A57"/>
                </radialGradient>
                <radialGradient id="paint1_radial_378_372" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.1176 29.2699) rotate(-105.479) scale(38.5092 87.2701)">
                  <stop stop-color="#7077A0"/>
                  <stop offset="1" stop-color="#4F3A57"/>
                </radialGradient>
              </defs>
            </svg>
          </div>
        <% end %>

        <%= link_to new_spot_path, method: 'get' do %>
          <div class="square-button">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 1V15M1 8H15" stroke="url(#paint0_radial_377_369)" stroke-linecap="round"/>
              <defs>
                <radialGradient id="paint0_radial_377_369" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12.5769 31.4792) rotate(-105.479) scale(40.1003 90.8757)">
                  <stop stop-color="#7077A0"/>
                  <stop offset="1" stop-color="#4F3A57"/>
                </radialGradient>
              </defs>
            </svg>
          </div>
        <% end %>

        <%= link_to "https://github.com/axldarealest", target: :_blank do %>
          <div class="square-button">
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.91474 0.74285C6.77035 0.721059 4.70505 1.55157 3.17272 3.05185C1.6404 4.55214 0.76644 6.59943 0.74292 8.7438C0.751183 10.4385 1.29633 12.0869 2.30007 13.4524C3.30381 14.8178 4.71448 15.83 6.32947 16.3436C6.73806 16.4179 6.88664 16.1727 6.88664 15.9573C6.88664 15.7419 6.88664 15.2664 6.88664 14.5978C4.61339 15.0807 4.13051 13.528 4.13051 13.528C3.97918 13.0406 3.65746 12.624 3.22418 12.3543C2.48129 11.864 3.28361 11.8714 3.28361 11.8714C3.54039 11.9057 3.78607 11.9977 4.00222 12.1405C4.21837 12.2834 4.39938 12.4733 4.53167 12.696C4.76222 13.0958 5.1405 13.389 5.5851 13.5127C6.02971 13.6363 6.50509 13.5805 6.90893 13.3572C6.95046 12.9503 7.13469 12.5714 7.42895 12.2874C5.6163 12.0868 3.71449 11.4034 3.71449 8.33521C3.69828 7.53488 3.994 6.75962 4.5391 6.1734C4.29085 5.48627 4.32016 4.72944 4.62082 4.06358C4.62082 4.06358 5.31171 3.84814 6.8495 4.88076C8.18811 4.52405 9.59679 4.52405 10.9354 4.88076C12.4955 3.84814 13.1641 4.06358 13.1641 4.06358C13.4647 4.72944 13.4941 5.48627 13.2458 6.1734C13.8036 6.74888 14.1153 7.51893 14.115 8.32035C14.115 11.3959 12.1983 12.072 10.4005 12.2725C10.5974 12.4637 10.7494 12.696 10.8458 12.9529C10.9421 13.2098 10.9803 13.4849 10.9577 13.7583V15.9499C10.9577 15.9499 11.1063 16.4179 11.5149 16.3362C13.1253 15.8194 14.5312 14.807 15.5318 13.4434C16.5325 12.0799 17.0766 10.4351 17.0866 8.7438C17.063 6.59943 16.1891 4.55214 14.6568 3.05185C13.1244 1.55157 11.0591 0.721059 8.91474 0.74285Z" fill="url(#paint0_radial_362_355)"/>
              <defs>
                <radialGradient id="paint0_radial_362_355" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.2579 34.737) rotate(-106.164) scale(44.8773 105.729)">
                  <stop stop-color="#7077A0"/>
                  <stop offset="1" stop-color="#4F3A57"/>
                </radialGradient>
              </defs>
            </svg>
          </div>
        <% end %>
      </div>

    <h2 style="margin-top: 2vh; color: #452E4F;">Bio</h2>
    <p style="color: #452E4F;"><%= @user.bio %></p>
    <h2 style="color: #452E4F;">Favoris</h2>


    <% @bookmarks.each do |bookmark| %>
      <% bookmark.spot.address %>
      <% if bookmark.spot.photo_url.attached? %>
        <%= link_to spot_path(bookmark.spot) do %>
          <div class="card-bouton">
            <%= cl_image_tag bookmark.spot.photo_url.key, height: 100, width: 100, crop: :fill %>
            <div class="card-info">
              <p style="overflow: hidden; white-space: nowrap;" class="card-address"><%= bookmark.spot.address %></p>
              <p><%= bookmark.spot.moves.length %> Moves</p>
              <div class="button-card-info">
                <%= link_to "https://www.google.com/maps/dir//#{bookmark.spot.address}", target:"_blank" do %>
                  <div class="lil-square-button">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.83084 12.749H8.78966C8.6386 12.7397 8.49479 12.6791 8.38059 12.5768C8.26639 12.4744 8.18822 12.3361 8.15823 12.1832L7.10125 6.82919C7.07435 6.69326 7.00926 6.56849 6.91407 6.47041C6.81888 6.37231 6.69781 6.30524 6.5659 6.27752L1.37027 5.18832C1.22166 5.1579 1.08699 5.07767 0.987259 4.96012C0.887532 4.84257 0.828353 4.69432 0.81895 4.53849C0.809548 4.38265 0.85045 4.22799 0.935279 4.09862C1.02011 3.96925 1.1441 3.87244 1.28791 3.82329L12.2694 0.0535367C12.3927 0.0010877 12.5281 -0.0132195 12.6592 0.0123642C12.7902 0.0379479 12.9111 0.102314 13.0072 0.197595C13.1033 0.292876 13.1704 0.414945 13.2003 0.54888C13.2302 0.682816 13.2215 0.822817 13.1754 0.95177L9.51719 12.2681C9.46943 12.4145 9.37649 12.5407 9.25256 12.6276C9.12862 12.7144 8.98051 12.7571 8.83084 12.749Z" fill="url(#paint0_radial_473_304)"/>
                      <defs>
                        <radialGradient id="paint0_radial_473_304" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.0716 27.7578) rotate(-105.073) scale(36.4494 80.6462)">
                          <stop stop-color="#7077A0"/>
                          <stop offset="1" stop-color="#4F3A57"/>
                        </radialGradient>
                      </defs>
                    </svg>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </section>
</div>
