 <%= link_to spots_path do %>
    <div class="round-button">
      <div class="circle-back">
      </div>
      <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 16L1 8.5L9 1" stroke="#4F3A57" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  <% end %>

<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill %>
<% end %>
<h1><%= @user.username %></h1>
<%= button_to 'Add a Spot', new_spot_path, method: 'get' %>
<% if @user %>
  <%= button_to "Edit My Profile", edit_user_registration_path(@user), method: 'get' %>
<% end %>
<%= button_to 'github', "https://github.com/", method: 'get' %>

<p><%= @user.bio %></p>

<h2>Favoris</h2>
<% @bookmarks.each do |bookmark| %>
  <%= bookmark.spot.address %>
  <%= cl_image_tag bookmark.spot.photo_url.key %>
<% end %>
